.bgImage4{
    background: url("../Images/Advisor/Rectangle 2771.png");
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
}
@font-face {
    font-family: Cairo;
    src: url(/src/Assents/Fonts/Cairo-VariableFont_slnt\,wght.ttf);
}
.font{
    font-family: 'Cairo';
}
.gradientText {
    background: linear-gradient(360deg, rgba(76, 231, 160, 1) 0%, rgba(90, 217, 240, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}