@font-face {
    font-family: Cairo;
    src: url(/src/Assents/Fonts/Cairo-VariableFont_slnt\,wght.ttf);
}
.font{
    font-family: 'Cairo';
}
.bgImage{
    background: url(../../Assents/Images/OurServices/Bg.svg);
    /* background-position:  center center; */
    background-size: cover;
    height: 90vh;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}